name: Ambrósio

# Skills 
# You can only configure each skill ONE time. 
skills:
  - skill: HelloWorld
    io:
      - input: terminal
        output: terminal
      - input: telegram
        output: telegram
  - skill: GoodbyeWorld
    level: 1
    io:
      - input: terminal
        output: terminal
      - input: telegram
        output: telegram
  - skill: TalkOnTelegram
    input: terminal
    output: telegram 

########
# Register your inputs here
########
inputs:
  # Default terminal input
  - id: terminal
    input_class: Terminal
    args:
      cursor: "$: "
  - id: telegram
    input_class: Telegram
    args:
      api_key: xxxxxxxxx

########
# Register your outputs here
########
outputs:
  # Default terminal output
  - id: terminal
    output_class: Terminal
    args:
      target: stdout
      cursor: "Ambrósio > "
  # Ambrósio the bot output
  - id: telegram
    output_class: Telegram
    args:
      api_key: xxxxxx
      default_chat: -102753965
