name: Ambrósio

# Skills 
# You can only configure each skill ONE time. 
# If both input and output are lists, should be of the same size
skills:
  - skill: HelloWorld
    io:
      - input: Terminal
        output: [ Terminal, Telegram ]
      - input: Telegram
        output: Telegram
  - skill: GoodbyeWorld
    level: 1
    input: Terminal
    output: [ Terminal, Telegram ]
  - skill: TalkOnTelegram
    input: Terminal
    output: Telegram 

# Inputs
inputs:
  - Terminal